<div class="starter-template">
  <h1>Envie-nos seu email para podermos entrar em contato com novidades!</h1>
  <form id="formoid"  title="" method="post" class="form">
          <div>
              <label class="title">Email</label>
              <input type="text" id="email" name="email" placeholder="exemplo@exemplo.com">
          </div>
          <div>
              <input type="submit" id="submitButton"  name="submitButton" value="Enviar Email">
          </div>
   </form>
</div>
